@keyframes W3C {
    0% {
        transform: translateX(-4000px);

    }

    100% {
        transform: translateX(0px);
    }
}

@keyframes W2C {
    0% {
        background-position-x: -1000px;
    }

    100% {
        background-position-x: 0px;

    }
}

body {
    margin: 0;
    padding: 0;

    .flexbox {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .container {
        max-width: 1440px;
        width: 100%;
        margin: 0 auto;
    }

    header {
        background: rgba(255, 255, 255, 0.192);
        backdrop-filter: blur(10px);
        position: sticky;
        top: 0;
        border: 1px solid rgba(43, 43, 43, 0.568);
        padding-top: 20px;

        .header-content {
            div {
                img {
                    width: 80px;
                    height: 80px;
                }

                nav {
                    ul {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        li {
                            a {
                                margin-left: 18px;
                                font-size: 20px;
                                font-weight: 500;
                                transition: 0.9s;
                            }
                        }
                    }
                }
            }
        }
    }

    main {
        .test {
            width: 900px;
            height: 900px;
            border: 2px solid black;
            margin-top: 50px;
        }

        .About-us {
            * {
                text-align: center;

            }

            h1 {
                font-size: 40px;
                margin-top: 50px;
                top: 0;
                left: -20px;
            }

            p {
                animation-iteration-count: infinite;
                font-size: 24px;

                &:hover {
                    text-shadow: none;
                }
            }

            .About-us__career {
                display: flex;
                justify-content: space-between;
                margin-top: 90px;

                &:hover {
                    text-shadow: none;
                }

                .About-us__career-item {
                    max-width: 460px;
                    flex-wrap: wrap;
                    border-radius: 20px;
                    border: 2px solid black;
                    width: 100%;
                    height: 500px;
                    transition: 2s;
                    transform: translateX(0px);
                    background-repeat: no-repeat;
                    background-size: cover;
                    padding: 20px;

                    &:hover {
                        box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.259);
                    }

                    h2 {
                        font-size: 33px;
                        font-weight: 600;
                        margin-top: 20px;
                    }

                    p {
                        margin-top: 20px;
                        font-style: 22px;
                        text-align: center;

                        &:hover {
                            text-shadow: none;
                        }
                    }
                }
            }
        }

        .animation {
            animation-name: W3C;
            animation-duration: 2s;
            animation-iteration-count: 1;
            transform: translateX(0px);
        }

        .main-block {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin-top: 50px;
            .main-block__info {
                display: contents;

                h1 {
                    font-size: 30px;
                    text-align: center;
                }

                h2 {
                    font-size: 23px;
                    margin-top: 10px;
                }

                a {
                    text-align: center;
                    margin-top: 10px;
                    transition: 0.5s;
                    background-size: 200% auto;
                    color: white;
                    padding: 12px;
                    box-shadow: 0 0 20px #eee;
                    border-radius: 10px;
                    background-image: linear-gradient(to right, #003CC5 0%, #0B63F6 51%, #003CC5 100%);

                    &:hover {
                        background-position: right center;
                    }
                }
            }
        }
   

        }
    }

